body{
    background-color: red;
    width: 100%;
    height: 100vh;
    margin: 0;
}
body:hover{
    background-color: pink;
}

header{
    background-color: black;
    width: 100%;
    height: 20vh;
}

section{
    background-color: white;
    width: 80%;
    height: 70vh;
    margin: auto;
}

footer{
    background-color: black;
    width: 80%;
    height: 10vh;
    margin: auto;
}